.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* div {
  margin: 50px auto; 
  width: 80%; 
  text-align: center;


} */

body {
  background: white;
}

p {
  color: #121212;
}

h3 {
  color: #121212;
}

h5 {
  color: #121212;
}

.unclicked {
  fill: #121212;
}

.unclicked-hide {
  display: none;
}

.clicked-heart {
  fill: #1db954;
  display: block;
}

.clicked {
  display: none;
}
/* search page styles */
.search-page {
  /* border: 2px dotted red; */

  margin: 0 auto;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  /* border: 2px dotted blue; */
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  width: 30%;
  height: 50px;
}

/* Song card styles */
.song-card {
  border: 5px solid #3cb371;
  border-radius: 5px;
  margin: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-card-info {
  padding-left: 5%;
}

.song-card-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5%;
}

/* heart styles */
.heart {
  /* border: 2px dotted grey; */

  padding-left: 40%;
  padding-bottom: 10%;
}

.heart-outline-hide {
  display: none;
}

.heart-fill {
  border: 5px dotted blue;

  display: none;
}

.heart-fill-on {
  fill: #1db954;
}

.similar-songs {
  width: 100%;
}

.favoriteSongs {
  margin: 5%;
  margin-top: 2%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 80%;
}

.favoriteSongs h1 {
  margin-left: 3%;
}

.favSongCard {
  margin: 3%;
  padding: 2%;
  border-radius: 5px;
  border: 5px solid #3cb371;
  height: 100%;
}

.error {
  color: crimson;
}

.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Toastify__toast--success {
  background-color: #1db954;
  color: white;
}

.profile-formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-profile{
  border: 2px dotted red;
}